<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assign2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ControlServlet</servlet-name>
  	<servlet-class>cs9321ass2.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControlServlet</servlet-name>
  	<url-pattern>/ControlServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<servlet-class>user.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<servlet-class>user.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicationController</servlet-name>
  	<servlet-class>publication.PublicationController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicationController</servlet-name>
  	<url-pattern>/publication</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchController</servlet-name>
  	<servlet-class>search.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
</web-app>